body {
  margin: 5px;
  padding: 5px;
  width: 100vw;
  height: 100vh;
}

.contenedorInicio {
  background-color: #307cd0;
}

.imagenProgramador img {
  width: 500px;
  margin: 80px;
}

.mensaje h3 {
  text-align: center;
  margin-top: 150px;
  font-family: "Montserrat Alternates", sans-serif;
  color: #000;
}

.fondoSobreMi {
  background-color: #3f4238;
}
git .imgTencologias img {
  margin: 10px;
  width: 400px;
}

.imgHobbies img {
  margin-top: 80px;
  margin: 10px;
  width: 400px;
}

h3,
h2,
ol,
ul {
  color: white;
}

#linkInicio,
#linkSobreMi,
#linkContacto,
#contacto a {
  cursor: pointer;
}

/* Footer */
#footer {
  padding: 1rem 0 2rem 0;
  background: #000;
  text-align: center;
}

#footer a {
  color: rgba(255, 255, 255, 0.5);
}

#footer a:hover {
  color: #fff;
}

#footer img {
  width: 30px;
  height: 30px;
}

.footer {
  cursor: pointer;
}
