body {
  margin: 0;
  padding: 0;
  width: 100vw;
  height: 100vh;
}

.contenedorInicio {
  background-color: #307cd0;
}

.imagenProgramador img {
  width: 500px;
  margin: 80px;
}

.mensaje h3 {
  text-align: center;
  margin-top: 150px;
  font-family: "Montserrat Alternates", sans-serif;
}

.imgTencologias img {
  width: 80px;
  margin: 10px;
  width: 250px;
}

.imgHobbies img {
  margin-top: 80px;
  margin: 10px;
  width: 250px;
}

#linkInicio,
#linkSobreMi,
#linkContacto,
#contacto a {
  cursor: pointer;
}

/* Footer */
#footer {
  padding: 1rem 0 2rem 0;
  background: #000;
  text-align: center;
}

#footer a {
  color: rgba(255, 255, 255, 0.5);
}

#footer a:hover {
  color: #fff;
}

#footer .copyright {
  color: #bbb;
  font-size: 0.9rem;
  margin: 0;
  padding: 0;
  text-align: center;
}

@media screen and (max-width: 736px) {
  #footer {
    padding: 0 0 0 0;
  }
}
