body {
  margin: 0;
  padding: 0;
  width: 100vw;
  height: 100vh;
}

.contenedorInicio {
  background-color: #307cd0;
  width: 100%;
}

.mensaje h3 {
  text-align: center;
  margin: 180px 0 0 40px;
  font-family: "Montserrat Alternates", sans-serif;
  color: #000;
}

.fondoSobreMi {
  background-color: #3f4238;
  padding-bottom: 100px;
  width: 100%;
  margin: 0;
}
imgTencologias {
  width: 300px;
}
.imgHobbies img {
  width: 300px;
}

h3,
h2,
ol,
ul {
  color: white;
}

#linkInicio,
#linkSobreMi,
#linkContacto,
#contacto a {
  cursor: pointer;
}

/* Footer */
#footer {
  padding: 0.5rem 0 0.5rem 0;
  background: #000;
  text-align: center;
}

#footer a {
  color: rgba(255, 255, 255, 0.5);
}

#footer a:hover {
  color: #fff;
}

#footer img {
  width: 30px;
  height: 30px;
}

.footer {
  cursor: pointer;
}
